@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap");

$font-family: "Overpass";
$black: #000000;
$shadow: #00000029;
$obscuration: #534d4d;
$warning: #f0134e;
$positive: #80c088;
$canvas: #e0e5e5;
$idle-grey: #a4bbbf;
$module-highlight: #f4f4b5;
$highlight-text: #6900d1;
$unnamed-color-f2121200: #f21212;
$output: #e05b43;
$white: #ffffff;
$base-dark: #d3e3e3;
$base: #f0f7f7;
$selector: #ebdcb8;
$mid-text: #54747a;
$effect: #c3f9eb;
$audio-dark: #ffc798;
$audio: #84dcf7;
$mixer: #E6B8F7;
$variable-dark: #8e9f82;
$variable: #75e6a9;
$dark-text: #31484c;
$socket-size: 24px;
$socket-margin: 6px;
$socket-color: #96b38a;
$node-width: 180px;
$grid-size: 24px;
/* Font/text values */
$unnamed-font-family-overpass: "Overpass";
$unnamed-font-style-normal: normal;
$unnamed-font-weight-300: 300px;
$unnamed-font-weight-600: 600px;
$unnamed-font-weight-normal: normal;
$unnamed-font-weight-bold: bold;
$unnamed-font-weight-bolder: bolder;
$unnamed-font-size-11: 11px;
$unnamed-font-size-12: 12px;
$unnamed-font-size-14: 14px;
$unnamed-font-size-16: 16px;
$unnamed-character-spacing-0: 0px;
$unnamed-line-spacing-14: 14px;
$unnamed-line-spacing-16: 16px;
$unnamed-line-spacing-24: 24px;
$unnamed-line-spacing-30: 30px;
$unnamed-text-transform-uppercase: uppercase;
